<div>
  <md-toolbar color="primary">
    <button md-icon-button>
      <!--<md-icon class="md-24" >menu</md-icon>-->
    </button>
    {{title}}
  </md-toolbar>
</div>
<div>
  <md-tab-group [selectedIndex]="1">
    <md-tab>
      <template md-tab-label>Home</template>
      <template md-tab-content>
        <router-outlet></router-outlet>
        <p>...</p>
      </template>
    </md-tab>
    <md-tab>
      <template md-tab-label>About</template>
      <template md-tab-content>
        <router-outlet></router-outlet>
        <p>...</p>
      </template>
    </md-tab>
  </md-tab-group>
</div>
